<div class="container">
    <!-- <div id="sem-modalidade" *ngIf="!modalidade">
        <div class="row">
            <div class="col">
                <h3 class="titulo">Escolha a modalidade do cliente</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('pm')"
                class="btn btn-danger col">Policial Militar</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('pc')"
                class="btn btn-primary col">Policial Civil</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('pp')"
                class="btn btn-secondary col">Policial Penal</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('gm')"
                class="btn btn-success col">Guarda Municipal</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('pf')"
                class="btn btn-warning col">Policial Federal</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('bm')"
                class="btn btn-danger col">Bombeiro Militar</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('cac')"
                class="btn btn-info col">CAC</button>
            <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('cliente')"
                class="btn btn-success col">Cliente</button>
        </div>
    </div> -->
    <div id="escolhida-modalidade">
        <div class="row align-items-center">
            <!-- <div class="col-1">
                <button type="button" (click)="resetModalidade()" class="btn btn-danger align-middle">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </button>
            </div> -->
            <div class="col">
                <h3 *ngIf="modalidade" class="titulo" (click)="consolee()">Modalidade: {{modalidade.nome}}</h3>
                <hr>
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" class="form-group" [formGroup]="formAquisicao">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <!-- Linha para selecionar cliente modelo e calibre -->
                        <div class="row">
                            <!-- Coluna selecionar cliente -->
                            <div class="col-xl-5 col-6">
                                <div class="row">
                                    <div class="form-group col">
                                        <input type="text" readonly class="form-control" id="clienteNome"
                                            placeholder="Selecione o cliente" formControlName="clienteNome" (click)="abrirModal('#clienteModal')">
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="modal" data-target="#clienteModal"
                                            class="btn btn-primary">Cliente</button>
                                    </div>
                                </div>
                            </div>
                            <!-- ADICIONAR ACABAMENTO INPUT -->
                            <!-- Coluna Selecionar modelo -->
                            <div class="col-xl-5 col-6">
                                <div class="row">
                                    <div class="form-group col">
                                        <!--   <label for="modeloNome" class="col-3 col-form-label">Modelo</label> -->
                                        <input type="text" class="form-control" id="modeloDescricao" readonly
                                            placeholder="Selecione o modelo" formControlName="modeloDescricao" (click)="abrirModal('#modeloModal')">
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="modal" data-target="#modeloModal"
                                            class="btn btn-primary">Modelo</button>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-xl col-3">
                                <select class="form-control" id="selectCalibres" formControlName="calibre">
                                    <option value="" disabled selected>Selecione o calibre</option>
                                    <option *ngFor="let calibre of calibres" [value]="calibre.id">
                                        {{calibre.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <!--Fim cliente modelo e calibre -->

                        <!-- Linha para selecionar Fornecedor email e acabamento -->
                        <div class="row">
                            <div class="col-xl-4 col-6  align-self-end">
                                <div class="row align-items-end">
                                    <div class="form-group col-8" style="margin-bottom: 0 !important;">
                                        <label for="fornecedorNome">Fornecedor</label>
                                        <input type="text" readonly class="form-control" id="fornecedorNome"
                                            placeholder="Selecione o fornecedor" formControlName="fornecedorNome" (click)="abrirModal('#fornecedorModal')" >
                                    </div>
                                    <div class="col-4">
                                        <button type="button" data-toggle="modal" data-target="#fornecedorModal"
                                            class="btn btn-primary">Fornecedor</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-4">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email"
                                    formControlName="email">
                            </div>
                            <div class="form-group col-xl-2 col-4">
                                <label for="acabamento">Acabamento</label>
                                <input type="text" class="form-control" id="acabamento" placeholder="Acabamento"
                                    formControlName="acabamento">
                            </div>
                            <div class="form-group col-xl-3 col-4">
                                <label for="formaPagamento">Forma de pagamento</label>
                                <input type="text" class="form-control" id="formaPagamento"
                                    placeholder="Forma de pagamento" formControlName="formaPagamento">
                            </div>
                        </div>
                        <!-- Fim Fornecedor email e acabamento -->

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="local">Local de entrega</label>
                                    <textarea class="form-control" id="local" formControlName="local"
                                        rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="observacao">Observações</label>
                                    <textarea class="form-control" id="observacao" formControlName="observacao"
                                        rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button [disabled]="formAquisicao.invalid || salvando" type="submit"
                                class="btn btn-primary align-middle col-2 offset-10">
                                Salvar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- TODO Colocar botão pra duplicar aquisição -->
<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Modelos Cadastrados</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            (keyup)="onSearch()" [(ngModel)]="pesquisa" placeholder="Pesquisar">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                                <table class="table table-head-fixed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>Data de nascimento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'active': clienteSelecionado == cliente}"
                                            *ngFor="let cliente of clientesFiltrados" (click)="onSelectCliente(cliente)"
                                            (dblclick)="closeSelectedCliente(cliente)">
                                            <td>{{cliente.nome}}</td>
                                            <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
                                            <td>{{cliente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeSelectedCliente()"
                    [disabled]="!clienteSelecionado">Selecionar Cliente</button>
                <!-- <button type="button" class="btn btn-success align-bottom" data-dismiss="modal"
                        (click)="goToModelo()">Adicionar novo Modelo</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fornecedorModal" tabindex="-1" role="dialog" aria-labelledby="fornecedorModal"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecionar Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Fornecedores Cadastrados</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            (keyup)="onSearch()" [(ngModel)]="pesquisa" placeholder="Pesquisar">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                                <table class="table table-head-fixed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>CNPJ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'active': fornecedorSelecionado == fornecedor}"
                                            *ngFor="let fornecedor of fornecedoresFiltrados"
                                            (click)="onSelectFornecedor(fornecedor)"
                                            (dblclick)="closeSelectedFornecedor(fornecedor)">
                                            <td>{{fornecedor.nome}}</td>
                                            <td>{{fornecedor.cnpj | mask: '00.000.000/0000-00'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeSelectedFornecedor()"
                    [disabled]="!fornecedorSelecionado">Selecionar
                    fornecedor</button>
                <!-- <button type="button" class="btn btn-success align-bottom" data-dismiss="modal"
                        (click)="goToModelo()">Adicionar novo Modelo</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modeloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modelos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Modelos Cadastrados</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            (keyup)="onSearch()" [(ngModel)]="pesquisa" placeholder="Pesquisar">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                                <table class="table table-head-fixed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Fabricante</th>
                                            <th>Espécie</th>
                                            <th>Nº de canos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'active': modeloSelecionado == modelo}"
                                            *ngFor="let modelo of modelosFiltrados" (click)="onSelectModelo(modelo)"
                                            (dblclick)="closeSelectedModelo(modelo)">
                                            <td>{{modelo.nome}}</td>
                                            <td>{{modelo.fabricante.nome}}</td>
                                            <td>{{modelo.especie.nome}}</td>
                                            <td>{{modelo.numeroCanos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeSelectedModelo()"
                    [disabled]="!modeloSelecionado">Selecionar Modelo</button>
                <button type="button" class="btn btn-success align-bottom" data-dismiss="modal"
                    (click)="goToModelo()">Adicionar novo Modelo</button>
            </div>
        </div>
    </div>
</div>