.titulo {
    text-align: center;
    margin-top: 40px;
}

.card {
    padding: 25px;
}

tr {
    cursor: pointer;
}
.row{
    margin-bottom: 15px;
}

.form-group{
    margin-bottom: 0 !important;
}
.active {
    background-color: rgb(221, 220, 220);
}
