<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 (click)="consolee()" class="titulo">Cadastro de Modelo</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">Cadastrar Modelo</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form-group" [formGroup]="formModelo" (ngSubmit)="submitForm()">
                        <div class="row">
                            <div class="form-group col-4">
                                <label for="nome">Nome do modelo</label>
                                <input type="text" class="form-control" id="nome" placeholder="Nome do modelo"
                                    formControlName="nome">
                            </div>
                            <div class="form-group col-4">
                                <label for="fabricante">Fabricante</label>
                                <select class="form-control" id="fabricante" formControlName="fabricante">
                                    <option disabled selected>Selecione o fabricante</option>
                                    <option *ngFor="let fabricante of fabricantes" [value]="fabricante.id">
                                        {{fabricante.nome}}</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label for="especie">Espécie</label>
                                <select class="form-control" id="especie" formControlName="especie">
                                    <option disabled selected>Selecione a espécie</option>
                                    <option *ngFor="let especie of especies" [value]="especie.id">{{especie.nome}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <label for="especie">Tipo de alma</label>
                                <select class="form-control" id="tipoAlma" formControlName="tipoAlma"
                                    (change)="onChangeAlma()">
                                    <option disabled selected>Selecione o tipo de Alma</option>
                                    <option value="lisa">Lisa</option>
                                    <option value="raiada">Raiada</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="quantidadeRaias">Quantidade de Raias</label>
                                <select class="form-control" id="quantidadeRaias" formControlName="quantidadeRaias"
                                    [attr.disabled]="almaRaiada ? null: ''">
                                    <option disabled selected>Quantidade de Raias</option>
                                    <option value="6">6</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="sentidoRaias">Sentido das Raias</label>
                                <select class="form-control" id="sentidoRaias" formControlName="sentidoRaias"
                                    [attr.disabled]="almaRaiada ? null: ''">
                                    <option disabled selected>Sentido das Raias</option>
                                    <option value="direita">Direita</option>
                                    <option value="esquerda">Esquerda</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <label for="numeroCanos">Nº de Canos</label>
                                <select class="form-control" id="numeroCanos" formControlName="numeroCanos">
                                    <option disabled selected>Selecione o nº de canos</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <!-- <div class="col-4">
                                <label for="calibre">Calibre</label>
                                <select class="form-control" id="calibre" formControlName="calibre">
                                    <option disabled selected>Selecione o Calibre</option>
                                    <option *ngFor="let calibre of calibres" [value]="calibre.id">{{calibre.nome}}
                                    </option>
                                </select>
                            </div> -->
                            <div class="col-4">
                                <label for="funcionamento">Funcionamento</label>
                                <select class="form-control" id="funcionamento" formControlName="funcionamento">
                                    <option disabled selected>Selecione o funcionamento</option>
                                    <option value="semiautomatico">Semiautomático</option>
                                    <option value="repeticao">Repetição</option>
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label for="capacidadeTiro">Capacidade de tiro</label>
                                <input type="text" class="form-control" id="capacidadeTiro"
                                    placeholder="Capacidade de tiro" formControlName="capacidadeTiro">
                            </div>
                        </div>
                        <hr>
                        <div class="row" *ngIf="!modeloSelecionado">
                            <button [disabled]="formModelo.invalid || salvando" type="submit"
                                class="btn btn-primary col-md-4 offset-md-4">{{salvando? 'Salvando dados...': 'Salvar'}}</button>
                        </div>
                        <div class="row" *ngIf="modeloSelecionado">
                            <button [disabled]="formModelo.invalid || salvando" type="button" (click)="alterarModelo()"
                                class="btn btn-primary col-md-4 offset-md-2">{{salvando? 'Salvando dados...': 'Alterar'}}</button>
                            <button *ngIf="modeloSelecionado" style="margin-left: 20px;" [disabled]="salvando"
                                (click)="deleteModelo()" type="button" class="btn btn-danger col-md-4 ">Deletar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modelos Cadastrados</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                                [(ngModel)]="pesquisa" placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Fabricante</th>
                                <th>Espécie</th>
                                <th>Nº de canos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'active': modeloSelecionado == modelo}"
                                *ngFor="let modelo of modelosFiltrados" (click)="onSelectModelo(modelo)">
                                <td>{{modelo.nome}}</td>
                                <td>{{modelo.fabricante.nome}}</td>
                                <td>{{modelo.especie.nome}}</td>
                                <td>{{modelo.numeroCanos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>