<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="titulo">Consulta de Armas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="form-inline">
                        <div class="form-group mb-2">
                            <label for="nome" class="sr-only">Filtro</label>
                            <input (keyup)="onSearch()" type="text" class="form-control" id="nome" placeholder="Pesquisa"
                                [(ngModel)]="pesquisa">
                        </div>
                        <button style="margin-left: 20px;" [disabled]="salvando" (click)="limparFiltros()" type="button"
                            class="btn btn-danger mb-2">Limpar filtro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modelos Cadastrados</h3>

                   <!--  <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                                [(ngModel)]="pesquisa" placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Modelo</th>
                                <th>Fabricante</th>
                                <th>Espécie</th>
                                <th>Número arma</th>
                                <th>Sistema</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let arma of armasFiltradas" (click)="onSelectArma(arma)">
                                <td>{{arma.modelo?.nome}}</td>
                                <td>{{arma.modelo?.fabricante.nome}}</td>
                                <td>{{arma.modelo?.especie.nome}}</td>
                                <td>{{arma.numero}}</td>
                                <td>{{arma.isSinarm? 'SINARM': 'SIGMA'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
