<div class="container">
    <div class="row" *ngIf="!aquisicao">
        <div class="col-12">
            <h3 style="text-align: center;">Carregando....</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 card" *ngIf="aquisicao">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">
                        <h3>Aquisicação de arma</h3>
                    </h3>
                    <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Cadastro
                                Aquisição</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Arquivos</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-8">
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-8">
                                        <h5 (click)="copy(cliente.nome)">Cliente: {{cliente.nome}}</h5>
                                    </div>
                                    <div class="col"><button type="button"
                                            class="btn btn-block btn-outline-primary btn-xs"
                                            (click)="visualizarCadastro()">Visualizar
                                            Cadastro</button></div>
                                </div>
                                <h5 (click)="copy(cliente.cpfFormatado)">CPF:
                                    {{cliente.cpfFormatado}}</h5>
                                <h5>Arma solicitada: {{aquisicao.modelo.descricao}}</h5>
                            </div>
                            <div class="col-4">
                                <p>Data do cadastro: {{aquisicao.data | date:'dd/MM/yyyy'}}</p>
                                <p *ngIf="aquisicao.ultimaPendencia" style="margin-top: -15px;">
                                    {{aquisicao.ultimaPendencia.descricao}} -
                                    {{aquisicao.ultimaPendencia.data |
                                    date:'dd/MM/yyyy'}}</p>
                                <button [disabled]="salvando" style="margin-left: 10px;" type="button"
                                    class="btn btn-danger justify-content-end" (click)="deletarAquisicao()">
                                    <i class="fas fa-trash-alt"></i>
                                    Excluir
                                </button>
                            </div>
                        </div>
                        <!--  <div class="row">
                            <div class="col-8">
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col">
        
        
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button [disabled]="salvando" type="button" class="btn btn-primary align-middle"
                                    (click)="abrirGRU()" *ngIf="mostraGRU">
                                    <i class="fas fa-barcode"></i> GRU
                                </button>
                                <button *ngIf="aquisicao.cliente.modalidade != 'cidadao'" [disabled]="salvando"
                                    style="margin-left: 10px;" type="button" class="btn btn-success align-middle"
                                    (click)="enviarWhatsapp()">
                                    <i class="fab fa-whatsapp"></i> WhatsApp
                                </button>
                                <!-- <button [disabled]="salvando" style="margin-left: 10px;" type="button"
                                    class="btn btn-danger align-middle" (click)="gerarRequerimento()"
                                    *ngIf="mostraRequerimento">
                                    <i class="fas fa-file-pdf"></i> Requerimento
                                </button> -->
                                <!-- <button [disabled]="salvando" style="margin-left: 10px;" type="button"
                                    class="btn btn-info align-middle" data-toggle="modal" data-target="#outorgadoModal">
                                    <i class="fas fa-handshake"></i> Procuração
                                </button> -->
                                <!-- <button [disabled]="salvando" style="margin-left: 10px;" type="button"
                                    class="btn btn-danger align-middle" data-toggle="modal"
                                    data-target="#residenciaModal">
                                    <i class="fas fa-file-pdf"></i> Residência de 3º
                                </button> -->
                                <div class="btn-group col-xl-2">
                                    <button type="button" class="btn btn-danger"> <i class="fas fa-file-pdf"></i> Gerar
                                        PDF</button>
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" (click)="gerarRequerimento()">Gerar
                                                Requerimento</a>
                                            <!-- Verificar se é bombeiro fora dos testes -->
                                            <a class="dropdown-item" (click)="gerarRequerimentoBombeiro()">Gerar
                                                Requerimento Bombeiro</a>
                                            <a class="dropdown-item" (click)="abrirModalProcuracao()">Procuração</a>
                                            <a class="dropdown-item" type="button"
                                                (click)="abrirModalResidenciaTerceiros()">Residência de 3º</a>
                                            <a class="dropdown-item"
                                                (click)="gerarFormularioEntradaProcesso()">Protocolo pedido de
                                                autorização</a>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h3>Check-list</h3>
                                <div class="row">
                                    <button *ngFor="let pendencia of aquisicao.pendenciasResolvidas" type="button"
                                        class="btn btn-warning pendencia align-middle col-3 col-xl-2"
                                        (click)="desfazerPendencias(pendencia)">
                                        {{pendencia.descricao}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h3>Pendências</h3>
                                <div class="row">
                                    <button *ngFor="let pendencia of pendencias" type="button"
                                        class="btn btn-primary pendencia align-middle col-3 col-xl-2"
                                        (click)="retirarPendencia(pendencia)">
                                        {{pendencia.descricao}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="text-center">Arquivos Cadastrados</h4>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Modelos Cadastrados</h3>

                                        <!--  <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                                                    [(ngModel)]="pesquisa" placeholder="Pesquisar">
                    
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive container-fluid">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th>Descrição</th>
                                                    <th>Link</th>
                                                    <th>Data Cadastro</th>
                                                    <th>Excluir</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let arquivo of aquisicao.arquivos">
                                                    <td>{{arquivo.descricao}}</td>
                                                    <td><button (click)="downloadArquivo(arquivo)" type="button"
                                                            class="btn btn-outline-info btn-xs">Download</button>
                                                    </td>
                                                    <td>{{arquivo.data | date:'dd/MM/yyyy'}}</td>
                                                    <td><button type="button" (click)="excluirArquivo(arquivo)"
                                                            class="btn btn-outline-danger btn-xs">Excluir</button></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                            <div class="col-6">
                                <h4 class="text-center">Cadastrar Arquivo</h4>
                                <hr>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label for="descricao">Descrição do Arquivo</label>
                                        <input type="text" class="form-control" [(ngModel)]="descricaoArquivo"
                                            id="descricao" placeholder="Descrição do Arquivo">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="importFile"
                                                (change)="onFileChange($event)">
                                            <label class="custom-file-label" #labelImport for="importFile"><i
                                                    class="fas fa-search"></i> Escolher Arquivo</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <button
                                        [disabled]="salvando || !arquivo || !descricaoArquivo || descricaoArquivo.length < 3"
                                        type="button" (click)="salvarArquivo()"
                                        class="btn btn-primary col-12 col-sm-6 offset-sm-3 offset-lg-4 col-lg-4">{{salvando?
                                        'Salvando dados': 'Salvar Arquivo'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="outorgadoModal" tabindex="-1" role="dialog" aria-labelledby="outorgadoLabel"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outorgadoLabel" style="text-align: center;">Selecionar Outorgado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                                Ednildo
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                                Mathews
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                                Ambos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="residenciaModal" tabindex="-1" role="dialog" aria-labelledby="residenciaLabel"
    aria-hidden="true">
    <div class="modal-dialog mw-100 w-50" style="width: 70vw;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="residenciaLabel" style="text-align: center;">Declaração de residencia de
                    terceiros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="formResidencia" (ngSubmit)="submitFormResidencia()">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome" placeholder="Nome"
                                        formControlName="nome">
                                </div>
                                <div class="form-group col-3">
                                    <label for="nacionalidade">Nacionalidade</label>
                                    <input type="text" class="form-control" id="nacionalidade"
                                        placeholder="Nacionalidade" formControlName="nacionalidade">
                                </div>
                                <div class="form-group col-3">
                                    <label for="naturalidade">Naturalidade</label>
                                    <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                                        formControlName="naturalidade">
                                </div>
                                <div class="form-group col">
                                    <label for="parentesco">Parentesco</label>
                                    <input type="text" class="form-control" id="parentesco" placeholder="Parentesco"
                                        formControlName="parentesco">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="identidade">Identidade</label>
                                    <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                                        formControlName="identidade">
                                </div>
                                <div class="col-3">
                                    <label for="orgaoIdentidade">Órgão Expedidor</label>
                                    <input type="text" class="form-control" id="orgaoIdentidade"
                                        placeholder="Órgão Expedidor" formControlName="orgaoIdentidade">
                                </div>
                                <div class="col-3">
                                    <label for="cpf">CPF</label>
                                    <input type="text" class="form-control" id="cpf" placeholder="CPF"
                                        mask="000.000.000-00" [validation]="true" [showMaskTyped]="true"
                                        formControlName="cpf">
                                </div>
                                <div class="col" style="padding-top: 30px;">
                                    <div class="btn-group">
                                        <button type="button" [ngClass]="{'btn-info': orgaoResidencia == 'pf'}"
                                            class="btn" (click)="toggleOrgaoResidencia('pf')">PF</button>
                                        <button type="button" [ngClass]="{'btn-info':  orgaoResidencia == 'exercito'}"
                                            class="btn" (click)="toggleOrgaoResidencia('exercito')">Exército</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="endereco">Endereço</label>
                                        <textarea class="form-control" id="endereco" formControlName="endereco"
                                            rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- <div class="row">
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                                Ednildo
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                                Mathews
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                                Ambos
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" (click)="resetForm()">Limpar Formulário</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    [disabled]="salvando || formResidencia.invalid || !orgaoResidencia"
                    (click)="gerarDeclaracaoTerceiros()">Salvar</button>
            </div>
        </div>
    </div>
</div>