<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="titulo">Cadastro de Cliente</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">Cadastrar Cliente</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form" [formGroup]="formCliente" (ngSubmit)="submitForm()">
                        <hr>
                        <div class="row">
                            <div class="form-group col-6 col-lg-4">
                                <label for="nome" class="sr-only">Nome</label>
                                <input type="text" class="form-control" id="nome" placeholder="Nome"
                                    formControlName="nome">
                            </div>
                            <!--                             <div class="form-group col-6 col-lg-4">
                                <label for="dataNascimento" class="sr-only">Data de nascimento</label>
                                <input type="text" placeholder="Data de Nascimento" formControlName="dataNascimento"
                                    class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                            </div> -->
                            <div class="col-1 justify-content-end">
                                <p style="text-align: right;">Sexo:</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radioMasculino"
                                        formControlName="sexo" value="masculino">
                                    <label class="form-check-label" for="radioMasculino">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radioFeminino"
                                        formControlName="sexo" value="feminino">
                                    <label class="form-check-label" for="radioFeminino">Feminino</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <input type="text" placeholder="Data de nascimento" formControlName="dataNascimento"
                                    class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="naturalidade" class="sr-only">Naturalidade</label>
                                <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                                    formControlName="naturalidade">
                            </div>
                            <select class="form-control col-sm-12 col-md-6 col-lg-4" formControlName="estadoCivil">
                                <option disabled selected value="">Estado Civil</option>
                                <option value="casado">Casado</option>
                                <option value="solteiro">Solteiro</option>
                                <option value="divorciado">Divorciado</option>
                                <option value="viuvo">Viúvo</option>
                                <option value="uniao">União Estável</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="cpf" class="sr-only">CPF</label>
                                <input type="text" mask="000.000.000-00" [validation]="true" [showMaskTyped]="true"
                                    class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="identidade" class="sr-only">Identidade</label>
                                <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                                    formControlName="identidade">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="orgaoIdentidade" class="sr-only">Órgão expedidor</label>
                                <input type="text" class="form-control" id="orgaoIdentidade"
                                    placeholder="Órgão expedidor" formControlName="orgaoIdentidade">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="nomeMae" class="sr-only">Nome da Mãe</label>
                                <input type="text" class="form-control" id="nomeMae" placeholder="Nome da Mãe"
                                    formControlName="nomeMae">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                <label for="nomePai" class="sr-only">Nome da Pai</label>
                                <input type="text" class="form-control" id="nomePai" placeholder="Nome da Pai"
                                    formControlName="nomePai">
                            </div>
                            <select class="form-control col-sm-12 col-md-6 col-lg-4" formControlName="profissao">
                                <option disabled selected value="">Profissão</option>
                                <option *ngFor="let profissao of profissoes" [value]="profissao.id">{{profissao.nome}}
                                </option>
                            </select>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Endereço 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-1">
                                <label for="cep1" class="sr-only">CEP</label>
                                <input type="text" mask="00000-000" [validation]="true" [showMaskTyped]="true"
                                    class="form-control" id="cep1" placeholder="CEP" formControlName="cep1">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                <label for="logradouro1" class="sr-only">Logradouro</label>
                                <input type="text" class="form-control" id="logradouro1" placeholder="Logradouro"
                                    formControlName="logradouro1">
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="numero1" class="sr-only">Número</label>
                                <input type="text" class="form-control" id="numero1" placeholder="Número"
                                    formControlName="numero1">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                <label for="complemento1" class="sr-only">Complemento</label>
                                <input type="text" class="form-control" id="complemento1" placeholder="Complemento"
                                    formControlName="complemento1">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                <label for="bairro1" class="sr-only">Bairro</label>
                                <input type="text" class="form-control" id="bairro1" placeholder="Bairro"
                                    formControlName="bairro1">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-2">
                                <label for="cidade1" class="sr-only">Cidade</label>
                                <input type="text" class="form-control" id="cidade1" placeholder="Cidade"
                                    formControlName="cidade1">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-2">
                                <label for="estado1" class="sr-only">Estado</label>
                                <input type="text" class="form-control" id="estado1" placeholder="Estado"
                                    formControlName="estado1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Endereço 2</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-1">
                                <label for="cep2" class="sr-only">CEP</label>
                                <input type="text" mask="00000-000" [validation]="true" [showMaskTyped]="true"
                                    class="form-control" id="cep2" placeholder="CEP" formControlName="cep2">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                <label for="logradouro2" class="sr-only">Logradouro</label>
                                <input type="text" class="form-control" id="logradouro2" placeholder="Logradouro"
                                    formControlName="logradouro2">
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="numero2" class="sr-only">Número</label>
                                <input type="text" class="form-control" id="numero2" placeholder="Número"
                                    formControlName="numero2">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                                <label for="complemento2" class="sr-only">Complemento</label>
                                <input type="text" class="form-control" id="complemento2" placeholder="Complemento"
                                    formControlName="complemento2">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-2">
                                <label for="bairro2" class="sr-only">Bairro</label>
                                <input type="text" class="form-control" id="bairro2" placeholder="Bairro"
                                    formControlName="bairro2">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                <label for="cidade2" class="sr-only">Cidade</label>
                                <input type="text" class="form-control" id="cidade2" placeholder="Cidade"
                                    formControlName="cidade2">
                            </div>
                            <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                <label for="estado2" class="sr-only">Estado</label>
                                <input type="text" class="form-control" id="estado2" placeholder="Estado"
                                    formControlName="estado2">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="telefone" class="sr-only">Telefone</label>
                                <input type="text" mask="(00)00000-0000 || (00)0000-0000" class="form-control"
                                    id="telefone" placeholder="Telefone" formControlName="telefone">
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label for="email" class="sr-only">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email"
                                    formControlName="email">
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-between">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <select class="form-control" formControlName="craf">
                                    <option disabled selected value="">CRAF</option>
                                    <option value="vencido">Vencido</option>
                                    <option value="renovado">Renovado</option>
                                    <option value="aguardando">Aguardando emissão pela Pol. Federal</option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <select class="form-control" formControlName="atividadeApostilada">
                                    <option disabled selected value="">Certificado de Registro</option>
                                    <option value="cliente">Cliente</option>
                                    <option value="atirador_cacador">Cliente + Caçador</option>
                                    <option value="atirador_cacador_colecionador">Cliente + Caçador + Colecionador
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <select class="form-control" formControlName="situacao">
                                    <option disabled selected value="">Situação</option>
                                    <option value="protocolado">Pedido protocolado no exército</option>
                                    <option value="renovado">Renovado</option>
                                    <option value="autorizado">Concessão autorizada</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-end">
                            <button [disabled]="salvando || formCliente.invalid" type="submit"
                                class="btn btn-primary col-6 col-md-4 col-lg-2 col-xl-1">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
