<br>
<div class="row">
  <div class="col-12">
    <!-- Custom Tabs -->
    <div class="card card-localidade">
      <div class="card-header d-flex p-0">
        <h3 (click)="consolee()" class="card-title p-3">{{clienteNav? clienteNav.nome: 'Cadastro Cliente'}}
        </h3>
        <ul class="nav nav-pills ml-auto p-2" *ngIf="clienteNav">
          <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Cadastro
              Cliente</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Arquivos</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Declarações e documentos</a>
          </li>
        </ul>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img
                      [src]="urlFoto?urlFoto:'http://paroquiasagradomerces.com.br/wp-content/uploads/2018/02/no-avatar.png'"
                      class="avatar" alt="">
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleFormControlFile1">Imagem do cliente</label>
                      <input type="file" (change)="onAvatarChange($event)" class="form-control-file"
                        id="exampleFormControlFile1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form class="form" [formGroup]="formCliente" (ngSubmit)="submitForm()">
              <hr>
              <div class="row">
                <div class="form-group col-6 col-lg-4">
                  <label for="nome" class="obrigatorio">Nome *</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                </div>
                <div class="form-group col-6 col-lg-2">
                  <label for="cr">Número de CR</label>
                  <input type="text" class="form-control" id="cr" placeholder="Número de CR" formControlName="cr">
                </div>
                <div class="form-group col-6 col-lg-2">
                  <label for="senhaGov">Senha Gov</label>
                  <input type="text" class="form-control" id="senhaGov" placeholder="Senha Gov"
                    formControlName="senhaGov">
                </div>
                <!--                             <div class="form-group col-6 col-lg-4">
                                    <label for="dataNascimento" >Data de nascimento</label>
                                    <input type="text" placeholder="Data de Nascimento" formControlName="dataNascimento"
                                        class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                                </div> -->
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label for="atividadeApostilada">Atividade apostilada</label>
                                    <select class="form-control" id="atividadeApostilada"
                                        formControlName="atividadeApostilada">
                                        <option disabled selected value="">Atividade Apostilada</option>
                                        <option value="nao_aplica">Não se aplica</option>
                                        <option value="atirador">Atirador</option>
                                        <option value="atirador_cacador">Atirador + Caçador</option>
                                        <option value="atirador_cacador_colecionador">Atirador + Caçador + Colecionador
                                        </option>
                                    </select>
                                </div> -->
                <div class="col-4 justify-content-center" style="padding-top: 25px;">
                  <div class="row">
                    <div class="col-4">
                      <p style="text-align: right;" class="obrigatorio">Sexo: *</p>
                    </div>
                    <div class="col-8">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radioMasculino" formControlName="sexo"
                          value="masculino">
                        <label class="form-check-label" for="radioMasculino">Masculino</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radioFeminino" formControlName="sexo"
                          value="feminino">
                        <label class="form-check-label" for="radioFeminino">Feminino</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                  <label for="dataNascimento" class="obrigatorio">Data de nascimento *</label>
                  <input type="text" placeholder="Data de nascimento" id="dataNascimento"
                    formControlName="dataNascimento" class="form-control" bsDatepicker
                    [bsConfig]="{ isAnimated: true }">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                  <label for="titulo">Título</label>
                  <input type="text" placeholder="Título de eleitor" id="titulo" formControlName="titulo"
                    class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                </div>

                <div class="form-group col-sm-10 col-md-6 col-lg-4">
                  <label for="naturalidade" class="obrigatorio">Naturalidade</label>
                  <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                    formControlName="naturalidade">
                </div>
                <div class="form-group col-sm-2 col-lg-1">
                  <label for="uf" class="obrigatorio">UF</label>
                  <input type="text" class="form-control" id="uf" placeholder="UF" formControlName="uf">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="estadoCivil" class="obrigatorio">Estado Civil</label>
                  <select class="form-control" formControlName="estadoCivil" id="estadoCivil">
                    <option disabled selected value="">Estado Civil</option>
                    <option value="casado">Casado</option>
                    <option value="solteiro">Solteiro</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viuvo">Viúvo</option>
                    <option value="uniao">União Estável</option>
                  </select>

                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                  <label for="cpf" class="obrigatorio" (click)="copyText('cpf')">CPF *</label>
                  <input type="text" (focusout)="checaCPF(false)" mask="000.000.000-00" [validation]="true"
                    [showMaskTyped]="true" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="identidade" (click)="copyText('identidade')" class="obrigatorio">Identidade *</label>
                  <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                    formControlName="identidade">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-2">
                  <label for="orgaoIdentidade" class="obrigatorio">Órgão expedidor *</label>
                  <input type="text" class="form-control" id="orgaoIdentidade" placeholder="Órgão expedidor"
                    formControlName="orgaoIdentidade">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="expedicao">Data de Expedição</label>
                  <input type="text" placeholder="Data de Expedição" id="expedicao" formControlName="expedicao"
                    class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                </div>
                <!--  <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label for="orgaoIdentidade" class="obrigatorio">Órgão expedidor *</label>
                                    <input type="text" class="form-control" id="orgaoIdentidade"
                                        placeholder="Órgão expedidor" formControlName="orgaoIdentidade">
                                </div> -->
              </div>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="nomeMae" (click)="copyText('nomeMae')">Nome da Mãe</label>
                  <input type="text" class="form-control" id="nomeMae" placeholder="Nome da Mãe"
                    formControlName="nomeMae">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="nomePai" (click)="copyText('nomePai')">Nome da Pai</label>
                  <input type="text" class="form-control" id="nomePai" placeholder="Nome da Pai"
                    formControlName="nomePai">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="modalidade" class="obrigatorio">Modalidade *</label>
                  <select class="form-control" formControlName="modalidade" id="modalidade">
                    <option disabled selected value="">Modalidade</option>
                    <option *ngFor="let modalidade of modalidades" [value]="modalidade.id">
                      {{modalidade.nome}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="profissao">Profissão</label>
                  <input type="text" class="form-control" id="profissao" placeholder="Profissão"
                    formControlName="profissao">
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label for="profissao">Profissão</label>
                                    <select class="form-control" formControlName="profissao" id="profissao">
                                        <option disabled selected value="">Profissão</option>
                                        <option *ngFor="let profissao of profissoes" [value]="profissao.id">
                                            {{profissao.nome}}
                                        </option>
                                    </select>
                                </div> -->
              </div>
              <div class="row"
                *ngIf="formCliente.value['modalidade'] == 'pm' || formCliente.value['modalidade'] == 'bm'">
                <div class="col-sm-12 col-md-6 col-lg">
                  <label for="aposentado">Aposentado?</label>
                  <select class="form-control" id="aposentado" formControlName="aposentado">
                    <option disabled selected value="">Aposentando?</option>
                    <option value="não">Não</option>
                    <option value="-5">Sim, a menos de 10 anos</option>
                    <option value="+5">Sim, a mais de 10 anos</option>
                  </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formCliente.value['modalidade'] == 'pm' || formCliente.value['modalidade'] == 'bm'">
                  <label for="ordem">Número de ordem</label>
                  <input type="text" class="form-control" id="ordem" placeholder="Número de ordem"
                    formControlName="ordem">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formCliente.value['modalidade'] == 'pm' || formCliente.value['modalidade'] == 'bm'">
                  <label for="posto">Posto</label>
                  <input type="text" class="form-control" id="posto" placeholder="Posto" formControlName="posto">
                </div>
              </div>
              <div class="row"
                *ngIf="formCliente.value['modalidade'] == 'bm' || formCliente.value['modalidade'] == 'pm' ">
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formCliente.value['modalidade'] == 'bm' || formCliente.value['modalidade'] == 'pm' ">
                  <label for="matricula">Matrícula</label>
                  <input type="text" class="form-control" id="matricula" placeholder="Matrícula"
                    formControlName="matricula">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg" *ngIf="formCliente.value['modalidade'] == 'bm'">
                  <label for="obm">OBM</label>
                  <input type="text" class="form-control" id="obm" placeholder="OBM" formControlName="obm">
                </div>
              </div>
              <hr>
              <div>
                <div class="row">
                  <div class="col" (click)="copyText('endereco')">
                    <p>Endereço 1</p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-2">
                    <label for="cep1" (click)="copyText('cep')">CEP</label>
                    <input type="text" mask="00000-000" [validation]="true" (focusout)="buscaCEP()"
                      [showMaskTyped]="true" class="form-control" id="cep1" placeholder="CEP" formControlName="cep1">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="logradouro1" (click)="copyText('logradouro1')">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro1" placeholder="Logradouro"
                      formControlName="logradouro1">
                  </div>
                  <div class="form-group col-sm-1">
                    <label for="numero1" (click)="copyText('numero1')">Número</label>
                    <input type="text" class="form-control" id="numero1" placeholder="Número" formControlName="numero1">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="complemento1" (click)="copyText('complemento1')">Complemento</label>
                    <input type="text" class="form-control" id="complemento1" placeholder="Complemento"
                      formControlName="complemento1">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2" (click)="copyText('bairro1')">
                    <label for="bairro1">Bairro</label>
                    <input type="text" class="form-control" id="bairro1" placeholder="Bairro" formControlName="bairro1">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-2">
                    <label for="cidade1" (click)="copyText('cidade1')">Cidade</label>
                    <input type="text" class="form-control" id="cidade1" placeholder="Cidade" formControlName="cidade1">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-1">
                    <label for="estado1">Estado</label>
                    <input type="text" class="form-control" id="estado1" placeholder="Estado" formControlName="estado1">
                  </div>
                </div>
              </div>
              <div *ngIf="formCliente.value['modalidade'] == 'cac'">
                <div class="row">
                  <div class="col">
                    <p>Endereço 2</p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-2">
                    <label for="cep2">CEP</label>
                    <input type="text" mask="00000-000" [validation]="true" [showMaskTyped]="true" class="form-control"
                      id="cep2" placeholder="CEP" formControlName="cep2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="logradouro2">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro2" placeholder="Logradouro"
                      formControlName="logradouro2">
                  </div>
                  <div class="form-group col-sm-1">
                    <label for="numero2">Número</label>
                    <input type="text" class="form-control" id="numero2" placeholder="Número" formControlName="numero2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="complemento2">Complemento</label>
                    <input type="text" class="form-control" id="complemento2" placeholder="Complemento"
                      formControlName="complemento2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="bairro2">Bairro</label>
                    <input type="text" class="form-control" id="bairro2" placeholder="Bairro" formControlName="bairro2">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-2">
                    <label for="cidade2">Cidade</label>
                    <input type="text" class="form-control" id="cidade2" placeholder="Cidade" formControlName="cidade2">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-1">
                    <label for="estado2">Estado</label>
                    <input type="text" class="form-control" id="estado2" placeholder="Estado" formControlName="estado2">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                  <label for="telefone" (click)="copyText('telefone')" class="obrigatorio">Telefone
                    *</label>
                  <input type="text" [mask]="mascaraTelefone" class="form-control" id="telefone" placeholder="Telefone"
                    formControlName="telefone">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                  <label for="email" (click)="copyText('email')" class="obrigatorio">Email * </label>
                  <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-4">
                  <label for="observacoes">Observações</label>
                  <textarea type="text" class="form-control" id="observacoes" placeholder="Observações"
                    formControlName="observacoes"></textarea>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="btn-group" *ngIf="clienteNav">
                  <button type="button" class="btn btn-warning" data-toggle="dropdown">Procedimentos</button>
                  <button type=" button" class="btn btn-warning dropdown-toggle dropdown-hover dropdown-icon"
                    data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" (click)="abrirModalProcuracao()">Gerar Procuração</a>
                    <a class="dropdown-item" (click)="gerarDeclaracoes()">Gerar Declarações</a>
                    <a class="dropdown-item" (click)="cadastrarAquisicao()">Cadastrar Aquisição</a>
                    <a class="dropdown-item" (click)="cadastrarAquisicao()">Transferência de
                      arma</a>
                    <a class="dropdown-item" (click)="abrirModalResidenciaTerceiros()">Declaração de residência 3os</a>
                  </div>
                </div>
                <div class="btn-group ml-2" *ngIf="clienteNav">
                  <button type="button" class="btn btn-warning" data-toggle="dropdown">Documentos CAC</button>
                  <button type=" button" class="btn btn-warning dropdown-toggle dropdown-hover dropdown-icon"
                    data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item"
                      (click)="gerarDeclaracaoEnderecoGuarda('Concessão de registro no comando do exército')">Declaração
                      de Endereço de
                      Guarda E.B.</a>
                    <a class="dropdown-item"
                      (click)="gerarDeclaracaoEnderecoGuarda('apostilamento junto ao comando do exército')">Declaração
                      de
                      Endereço de
                      Guarda Apostilamento</a>
                    <a class="dropdown-item" (click)="gerarDeclaracaoInquerito()">Declaração Inquérito</a>
                    <!--  <a class="dropdown-item" (click)="gerarDeclaracaoGuardaAcervo()">Declaração Guarda do Acervo</a> -->
                    <a class="dropdown-item" (click)="gerarDeclaracaoModalidade()">Declaração Modalidade e Prova</a>
                    <a class="dropdown-item"
                      (click)="gerarDeclaracaoSegurancaAcervo('revalidação de Registro no Comando do Exército')">Declaração
                      Segurança Acervo Revalidação E.B.</a>
                    <a class="dropdown-item" (click)="gerarDeclaracaoSegurancaAcervo('apostilamento')">Declaração
                      Segurança Acervo apostilamento</a>

                    <a class="dropdown-item"
                      (click)="gerarDeclaracaoSegurancaAcervo('concessão de Registro no Comando do Exército')">Declaração
                      Segurança Acervo concessão</a>
                  </div>
                </div>
                <!-- <button *ngIf="clienteNav" [disabled]="!clienteNav" type="button"
                                    (click)="cadastrarAquisicao()"
                                    class="btn btn-primary col-6 col-md-4 col-lg-4 col-xl-2">Cadastrar
                                    Aquisição</button> -->
                <div class="col"></div>
                <div class="col col-6 col-md-4 col-lg-2 col-xl-2">
                  <button [disabled]="salvando" type="button" (click)="excluirCadastro()" class="btn btn-danger"
                    *ngIf="clienteNav">Excluir
                    Cadastro</button>
                </div>
                <div class="col col-6 col-md-4 col-lg-2 col-xl-1">
                  <button [disabled]="salvando || formCliente.invalid" type="submit"
                    class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2" *ngIf="clienteNav">

            <div class="row">
              <div class="col-6">
                <h4 class="text-center">Arquivos Cadastrados</h4>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Modelos Cadastrados</h3>

                    <!--  <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">
                                                <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                                                    [(ngModel)]="pesquisa" placeholder="Pesquisar">

                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div> -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive container-fluid">
                    <table class="table table-head-fixed">
                      <thead>
                        <tr>
                          <th>Descrição</th>
                          <th>Link</th>
                          <th>Data Cadastro</th>
                          <th>Excluir</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let arquivo of clienteNav.arquivos">
                          <td>{{arquivo.descricao}}</td>
                          <td><button (click)="downloadArquivo(arquivo)" type="button"
                              class="btn btn-outline-info btn-xs">Download</button>
                          </td>
                          <td>{{arquivo.data | date:'dd/MM/yyyy'}}</td>
                          <td><button type="button" (click)="excluirArquivo(arquivo)"
                              class="btn btn-outline-danger btn-xs">Excluir</button></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <div class="col-6">
                <h4 class="text-center">Cadastrar Arquivo</h4>
                <hr>
                <div class="row">
                  <div class="form-group col-12">
                    <label for="descricao">Descrição do Arquivo</label>
                    <input type="text" class="form-control" [(ngModel)]="descricaoArquivo" id="descricao"
                      placeholder="Descrição do Arquivo">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="importFile" (change)="onFileChange($event)">
                      <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>
                        Choose file</label>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <button [disabled]="salvando || !arquivo || !descricaoArquivo || descricaoArquivo.length < 3"
                    type="button" (click)="salvarArquivo()"
                    class="btn btn-primary col-12 col-sm-6 offset-sm-3 offset-lg-4 col-lg-4">{{salvando?
                    'Salvando dados': 'Salvar Arquivo'}}</button>
                </div>
              </div>
            </div>
            <div class="container-fluid">

            </div>
          </div>

          <div class="tab-pane" id="tab_3" *ngIf="clienteNav">
            <button type="button" class="btn btn-danger align-middle"
              (click)="gerarDeclaracaoEnderecoGuarda('Concessão do Certificado de Registro no Exército Brasileiro')">
              <i class="fas fa-file-pdf"></i> Declaração de Endereço de Guarda E.B. </button>

            <button type="button" class="btn btn-danger align-middle ml-3"
              (click)="gerarDeclaracaoEnderecoGuarda('apostilamento')">
              <i class="fas fa-file-pdf"></i> Declaração de Endereço de Guarda Apostilamento</button>

            <button type="button" class="btn btn-danger align-middle ml-3" (click)="gerarDeclaracaoInquerito()">
              <i class="fas fa-file-pdf"></i>Declaração Inquérito</button>

            <button type="button" class="btn btn-danger align-middle ml-3"
              (click)="gerarDeclaracaoSegurancaAcervo('revalidação de Registro no Comando do Exército')">
              <i class="fas fa-file-pdf"></i>Declaração
              Segurança Acervo Revalidação E.B.</button>

            <button type="button" class="btn btn-danger align-middle ml-3"
              (click)="gerarDeclaracaoSegurancaAcervo('apostilamento')">
              <i class="fas fa-file-pdf"></i>Declaração Segurança Acervo apostilamento</button>

            <button type="button" class="btn btn-danger align-middle ml-3"
              (click)="gerarDeclaracaoSegurancaAcervo('concessão')">
              <i class="fas fa-file-pdf"></i>Declaração Segurança Acervo concessão</button>
          </div>
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- ./card -->
  </div>
  <!-- /.col -->
</div>

<div class="modal fade" id="acaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja realizar algum procedimento?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->

              <div class="card-body container-fluid">
                <div class="row">
                  <div class="col">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                      (click)="cadastrarAquisicao()">Aquisição de arma</button>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <!-- /.card -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="outorgadoModal" tabindex="-1" role="dialog" aria-labelledby="outorgadoLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="outorgadoLabel" style="text-align: center;">Selecionar Outorgado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                Ednildo
              </button>
              <div class="col-2"></div>
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                Mathews
              </button>
              <div class="col-2"></div>
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                Ambos
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="clienteNav" class="modal fade" id="residenciaModal" tabindex="-1" role="dialog"
  aria-labelledby="residenciaLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" style="width: 70vw;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="residenciaLabel" style="text-align: center;">Declaração de residencia de
          terceiros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="formResidencia" (ngSubmit)="gerarDeclaracaoTerceiros()">
              <div class="row">
                <div class="form-group col-4">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                </div>
                <div class="form-group col-3">
                  <label for="nacionalidade">Nacionalidade</label>
                  <input type="text" class="form-control" id="nacionalidade" placeholder="Nacionalidade"
                    formControlName="nacionalidade">
                </div>
                <div class="form-group col-3">
                  <label for="naturalidade">Naturalidade</label>
                  <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                    formControlName="naturalidade">
                </div>
                <div class="form-group col">
                  <label for="parentesco">Parentesco</label>
                  <input type="text" class="form-control" id="parentesco" placeholder="Parentesco"
                    formControlName="parentesco">
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="identidade">Identidade</label>
                  <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                    formControlName="identidade">
                </div>
                <div class="col-3">
                  <label for="orgaoIdentidade">Órgão Expedidor</label>
                  <input type="text" class="form-control" id="orgaoIdentidade" placeholder="Ex.: PMAL"
                    formControlName="orgaoIdentidade">
                </div>
                <div class="col-3">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" placeholder="CPF" mask="000.000.000-00"
                    [validation]="true" [showMaskTyped]="true" formControlName="cpf">
                </div>
                <div class="col" style="padding-top: 30px;">
                  <div class="btn-group">
                    <button type="button" [ngClass]="{'btn-info': orgaoResidencia == 'pf'}" class="btn"
                      (click)="toggleOrgaoResidencia('pf')">PF</button>
                    <button type="button" [ngClass]="{'btn-info':  orgaoResidencia == 'exercito'}" class="btn"
                      (click)="toggleOrgaoResidencia('exercito')">Exército</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <textarea class="form-control" id="endereco" formControlName="endereco" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </form>
            <!-- <div class="row">
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                                Ednildo
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                                Mathews
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                                Ambos
                            </button>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Limpar Formulário</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          [disabled]="salvando || formResidencia?.invalid || !orgaoResidencia"
          (click)="gerarDeclaracaoTerceiros()">Salvar</button>
      </div>
    </div>
  </div>
</div>
