<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="titulo">Cadastro de Fabricante</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">Cadastrar Fabricante</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form-inline" [formGroup]="formFabricante" (ngSubmit)="submitForm()">
                        <div class="form-group mb-2">
                            <label for="nome" class="sr-only">Nome do fabricante</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome do fabricante"
                                formControlName="nome">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="cnpj" class="sr-only">CNPJ do fabricante</label>
                            <input type="text" mask="00.000.000/0000-00" class="form-control" id="cnpj"
                                formControlName="cnpj" [validation]="true" [showMaskTyped]="true" placeholder="CNPJ">
                        </div>
                        <button [disabled]="formFabricante.invalid || salvando" type="submit"
                            class="btn btn-primary mb-2">{{salvando? 'Salvando dados...': fabricanteSelecionado? 'Alterar': 'Salvar'}}</button>
                        <button *ngIf="fabricanteSelecionado" style="margin-left: 20px;" [disabled]="salvando"
                            (click)="deletarFabricante()" type="button"
                            class="btn btn-danger mb-2">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Fabricantes Cadastrados</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CNPJ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'active': fabricanteSelecionado == fabricante}"
                                *ngFor="let fabricante of fabricantes" (click)="onSelectFabricante(fabricante)">
                                <td>{{fabricante.nome}}</td>
                                <td>{{fabricante.cnpj | mask: '00.000.000/0000-00'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>