<div class="row">

  <div class="login-box col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12 mt-5" >
    <div class="login-logo">
      <a routerLink="/home"><b>Macena</b>Despachante bélico</a>
    </div>
    <!-- /.login-logo -->
    <div class="card" *ngIf="!signup">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Faça login para acessar o sistema</p>

        <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <!-- <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div> -->
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" [disabled]="formLogin.invalid"
                class="btn btn-primary btn-block">Fazer login</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mb-1">
          <a>Esqueci a senha</a>
        </p>
        <p class="mb-0">
          <a (click)="toggleSignup() " class="text-center">Cadastrar novo usuário</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
    <div class="card" *ngIf="signup">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Insira seus dados para criar seu usuário</p>

        <form [formGroup]="formSignup" (ngSubmit)="onSignup()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Repita sua senha" formControlName="confirmaSenha">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Digite o código de criação de usuário"
              formControlName="codigo">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <!-- <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div> -->
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" [disabled]="formSignup.invalid" class="btn btn-primary btn-block">Criar
                usuário</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mb-1">
          <a>Esqueci a senha</a>
        </p>
        <p class="mb-0">
          <a (click)="toggleSignup() " class="text-center">Fazer login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

</div>
