<div class="container" style="padding-top: 10px;">
    <h2>Aniversariantes do dia</h2>
    <div class="card" *ngFor="let a of aniversariantes">
        <div class="card-header">
            <h3 class="card-title">{{a.nome}} - {{a.dataNascimentoFormatada}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <p>
                Telefone de contato: {{a.telefoneFormatado}} <button type="button"
                    class="btn btn-outline-primary btn-sm bg-gradient-success" (click)="enviarWhatsapp(a)">
                    <i class="fab fa-whatsapp"></i>
                </button>
            </p>
            <p>
                <button type="button" class="btn btn-primary align-middle" (click)="visualizarCadastro(a)">
                    <i class="fas fa-person"></i> Visualizar Cadastro
                    </button>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
</div>