.doador{
    border: 0px;
    border-right: 1px black;
    border-style: solid;
}

button{
    margin: 10px;
}
.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .15rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}