<div class="container" style="padding: 20px">
  <div class="row">
    <div class="col-12 card " style="padding: 20px 20px 20px 20px;">
      <div class="row">
        <div class="card-header d-flex col-12">
          <h3 class="card-title">
            <h3>Transferência de Arma</h3>
          </h3>
          <div class="bd-clipboard"><button (click)="irParaArma()" class="btn-clipboard" title="">VISULIZAR
              CADASTRO ARMA</button></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6 doador">
          <div class="row">
            <div class="col-6">
              <h4>Doador</h4>
            </div>
            <div class="col-5">
              <button (click)="irParaCliente(transferencia.doador)" type="button"
                class="btn btn-block btn-primary btn-xs">Visualizar Cadastro</button>
            </div>
          </div>
          <h5>{{transferencia.doador.nome}}</h5>
          <h5 (click)="copy(transferencia.doador.cpfFormatado)">CPF:
            {{transferencia.doador.cpfFormatado}}</h5>
          <h5>Arma solicitada: {{transferencia.arma.descricao}}</h5>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <h4>Recebedor</h4>
            </div>
            <div class="col-5">
              <button (click)="irParaCliente(transferencia.recebedor)" type="button"
                class="btn btn-block btn-primary btn-xs">Visualizar Cadastro</button>
            </div>
          </div>
          <h5>{{transferencia.recebedor.nome}}</h5>
          <h5 (click)="copy(transferencia.recebedor.cpfFormatado)">CPF:
            {{transferencia.recebedor.cpfFormatado}}</h5>
          <h5>Arma solicitada: {{transferencia.arma.descricao}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger align-middle" (click)="anexoK()">
            <i class="fas fa-file-pdf"></i> SIG_SIG (CAC)
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-danger align-middle" (click)="anexoH()">
            <i class="fas fa-file-pdf"></i> SIN_SIG (CAC)
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-warning align-middle" (click)="sitePF()">
            <i class="fas fa-file-site"></i> Site Polícia Federal
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-danger align-middle" (click)="anexoG()">
            <i class="fas fa-file-pdf"></i> SIN_SIG (PM - BM)
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-danger align-middle" (click)="anexoL()">
            <i class="fas fa-file-pdf"></i> SIG_SIG (PM - BM)
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-danger align-middle" (click)="anexoI()">
            <i class="fas fa-file-pdf"></i> SIG_SIN (TODOS)
          </button>
          <button style="margin-bottom: 10px;" type="button" class="btn btn-danger align-middle" (click)="anexoF1()">
            <i class="fas fa-file-pdf"></i> Anexo F1
          </button>
          <button style="margin-left: 10px;" type="button" class="btn btn-danger align-middle" data-toggle="modal"
            data-target="#requerimentoModal">
            <i class="fas fa-file-pdf"></i> Requerimento Padrão
          </button>
          <button style="margin-left: 10px;" type="button" class="btn btn-danger align-middle"
            (click)="termoDeTransferencia()">
            <i class="fas fa-file-pdf"></i> Termo de transferência
          </button>
          <button style="margin-left: 10px;" type="button" class="btn btn-danger align-middle" (click)="declaracoes()">
            <i class="fas fa-file-pdf"></i> Declarações
          </button>
          <!-- <button style="margin-left: 10px;" type="button" class="btn btn-success align-middle">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </button> -->
          <button [disabled]="salvando" style="margin-left: 10px;" type="button" class="btn btn-info align-middle"
            data-toggle="modal" data-target="#outorgadoModal">
            <i class="fas fa-handshake"></i> Procuração
          </button>
          <button [disabled]="salvando" style="margin-left: 10px;" type="button" class="btn btn-info align-middle"
            (click)="abrirModalResidenciaTerceiros()">
            <i class="fas fa-home"></i> Declaração de residências de 3os </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="outorgadoModal" tabindex="-1" role="dialog" aria-labelledby="outorgadoLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="outorgadoLabel" style="text-align: center;">Selecionar Outorgado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                Ednildo
              </button>
              <div class="col-2"></div>
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                Mathews
              </button>
              <div class="col-2"></div>
              <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                Ambos
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="residenciaModal" tabindex="-1" role="dialog" aria-labelledby="residenciaLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" style="width: 70vw;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="residenciaLabel" style="text-align: center;">Declaração de residencia de
          terceiros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="formResidencia" (ngSubmit)="gerarDeclaracaoTerceiros()">
              <div class="row">
                <div class="form-group col-4">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                </div>
                <div class="form-group col-3">
                  <label for="nacionalidade">Nacionalidade</label>
                  <input type="text" class="form-control" id="nacionalidade" placeholder="Nacionalidade"
                    formControlName="nacionalidade">
                </div>
                <div class="form-group col-3">
                  <label for="naturalidade">Naturalidade</label>
                  <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                    formControlName="naturalidade">
                </div>
                <div class="form-group col">
                  <label for="parentesco">Parentesco</label>
                  <input type="text" class="form-control" id="parentesco" placeholder="Parentesco"
                    formControlName="parentesco">
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="identidade">Identidade</label>
                  <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                    formControlName="identidade">
                </div>
                <div class="col-3">
                  <label for="orgaoIdentidade">Órgão Expedidor</label>
                  <input type="text" class="form-control" id="orgaoIdentidade" placeholder="Órgão Expedidor"
                    formControlName="orgaoIdentidade">
                </div>
                <div class="col-3">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" placeholder="CPF" mask="000.000.000-00"
                    [validation]="true" [showMaskTyped]="true" formControlName="cpf">
                </div>
                <div class="col" style="padding-top: 30px;">
                  <div class="btn-group">
                    <button type="button" [ngClass]="{'btn-info': orgaoResidencia == 'pf'}" class="btn"
                      (click)="toggleOrgaoResidencia('pf')">PF</button>
                    <button type="button" [ngClass]="{'btn-info':  orgaoResidencia == 'exercito'}" class="btn"
                      (click)="toggleOrgaoResidencia('exercito')">Exército</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <textarea class="form-control" id="endereco" formControlName="endereco" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </form>
            <!-- <div class="row">
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                                Ednildo
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                                Mathews
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                                Ambos
                            </button>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Limpar Formulário</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          [disabled]="salvando || formResidencia.invalid || !orgaoResidencia"
          (click)="gerarDeclaracaoTerceiros()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="requerimentoModal" tabindex="-1" role="dialog" aria-labelledby="requerimentoLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" style="width: 70vw;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="residenciaLabel" style="text-align: center;">Requerimento Padrão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h4>Local de trabalho</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form [formGroup]="formRequerimento" (ngSubmit)="requerimentoPF()">
              <div class="row">
                <div class="form-group col-8">
                  <label for="nomeTrabalho" (click)="consoleRequerimento()">Empresa/Órgão de
                    trabalho</label>
                  <input type="text" class="form-control" id="nomeTrabalho" placeholder="Empresa/Órgão de trabalho"
                    formControlName="nomeTrabalho">
                </div>
                <div class="form-group col-4">
                  <label for="cnpjTrabalho">CNPJ</label>
                  <input type="text" mask="00.000.000/0000-00" [validation]="true" [dropSpecialCharacters]="false"
                    [showMaskTyped]="true" class="form-control" id="cnpjTrabalho" placeholder="CNPJ"
                    formControlName="cnpjTrabalho">
                </div>
                <!-- <div class="form-group col-3">
                                    <label for="naturalidade">Naturalidade</label>
                                    <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                                        formControlName="naturalidade">
                                </div>
                                <div class="form-group col">
                                    <label for="parentesco">Parentesco</label>
                                    <input type="text" class="form-control" id="parentesco" placeholder="Parentesco"
                                        formControlName="parentesco">
                                </div> -->
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="enderecoTrabalho">Endereço</label>
                  <input type="text" class="form-control" id="enderecoTrabalho" placeholder="Endereço Trabalho"
                    formControlName="enderecoTrabalho">
                </div>
                <div class="col-4">
                  <label for="bairroTrabalho">Bairro</label>
                  <input type="text" class="form-control" id="bairroTrabalho" placeholder="Bairro"
                    formControlName="bairroTrabalho">
                </div>
                <!-- <div class="col-3">
                                    <label for="cpf">CPF</label>
                                    <input type="text" class="form-control" id="cpf" placeholder="CPF"
                                        mask="000.000.000-00" [validation]="true" [showMaskTyped]="true"
                                        formControlName="cpf">
                                </div>
                                <div class="col" style="padding-top: 30px;">
                                    <div class="btn-group">
                                        <button type="button" [ngClass]="{'btn-info': orgaoResidencia == 'pf'}"
                                            class="btn" (click)="toggleOrgaoResidencia('pf')">PF</button>
                                        <button type="button" [ngClass]="{'btn-info':  orgaoResidencia == 'exercito'}"
                                            class="btn" (click)="toggleOrgaoResidencia('exercito')">Exército</button>
                                    </div>
                                </div> -->
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-4">
                  <label for="municipioTrabalho">Município</label>
                  <input type="text" class="form-control" id="municipioTrabalho" placeholder="Município"
                    formControlName="municipioTrabalho">
                </div>
                <div class="col-2 col-lg-1">
                  <label for="ufTrabalho">UF</label>
                  <input type="text" class="form-control" id="ufTrabalho" placeholder="UF" formControlName="ufTrabalho">
                </div>
                <div class="col-3">
                  <label for="cepTrabalho">CEP</label>
                  <input type="text" class="form-control" id="cepTrabalho" mask="00.000-000"
                    [dropSpecialCharacters]="false" placeholder="CEP" formControlName="cepTrabalho">
                </div>
                <div class="col-4">
                  <label for="telefoneTrabalho">Telefone comercial</label>
                  <input type="text" class="form-control" id="telefoneTrabalho" mask="(00)00000-0000||(00)0000-0000"
                    [dropSpecialCharacters]="false" placeholder="Telefone comercial" formControlName="telefoneTrabalho">
                </div>
              </div>
            </form>
            <!-- <div class="row">
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-success align-middle col" (click)="gerarProcuracao('ednildo')">
                                Ednildo
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-warning align-middle col" (click)="gerarProcuracao('mathews')">
                                Mathews
                            </button>
                            <div class="col-2"></div>
                            <button style="margin-left: 10px;" type="button" data-dismiss="modal"
                                class="btn btn-primary align-middle col" (click)="gerarProcuracao('ambos')">
                                Ambos
                            </button>
                        </div> -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-warning" (click)="resetForm()">Limpar Formulário</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          [disabled]="salvando || formRequerimento.invalid || !formRequerimento"
          (click)="requerimentoPF()">Salvar</button>
      </div>
    </div>
  </div>
</div>
