<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <h3 class="titulo">Consulta Clientes</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Filtros</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="form-inline">
                        <div class="form-group mb-2">
                            <label for="nome" class="sr-only">Filtro</label>
                            <input (keyup)="onSearch()" type="text" class="form-control" id="nome"
                                placeholder="Pesquisa" [(ngModel)]="pesquisa">
                        </div>
                        <button style="margin-left: 20px;" [disabled]="salvando" (click)="limparFiltros()" type="button"
                            class="btn btn-danger mb-2">Limpar filtro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Clientes Cadastrados</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Identidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'active': atiradorSelecionado == cliente}"
                                *ngFor="let cliente of atiradoresFiltrados" (click)="irParaAtirador(cliente)"
                                style="cursor: pointer;">
                                <td>{{cliente.nome}}</td>
                                <td>{{cliente.cpfFormatado}}</td>
                                <td>{{cliente.identidade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>