<div class="container-fluid">
    <div class="row" style="padding-top: 30px; margin-bottom: 20px;" *ngIf="veioDeTransferencia">
        <div class="col">
            <button type="button" (click)="voltarParaTransferencia()" class="btn btn-danger align-middle">
                <i class="fas fa-long-arrow-alt-left"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">{{armaNav? 'Editar Cadastro':'Cadastrar Arma'}}</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form-group" [formGroup]="formArma" (ngSubmit)="submitForm()">
                        <!-- Linha para selecionar modelo -->
                        <div class="row">
                            <div class="form-group col-5">
                                <div class="row">
                                    <label for="modeloNome" class="col-3 col-form-label">Modelo</label>
                                    <input type="text" class="form-control col-9" id="modeloNome" readonly
                                        placeholder="Selecione o modelo" formControlName="modeloNome">

                                </div>
                            </div>
                            <div class="col-1" *ngIf="modeloSelecionado">
                                <button type="button" class="btn btn-danger" (click)="cancelarModelo()">X</button>
                            </div>
                            <div class="col-4 col-lg-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#modeloModal">Selecionar
                                    Modelo</button>
                            </div>
                            <div class="col-1" style="margin-bottom: 16px;">
                                <button type="button" class="btn btn-success align-bottom"
                                    (click)="goToModelo()">+</button>
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <button type="button" [ngClass]="{'btn-info': formArma.value['isSinarm']}"
                                        class="btn" (click)="toggleSigmaSinarm('sinarm')">SINARM</button>
                                    <button type="button" [ngClass]="{'btn-info': formArma.value['isSigma']}"
                                        class="btn" (click)="toggleSigmaSinarm('sigma')">SIGMA</button>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="form-group col-3">
                                <label for="notaFiscal">Número Nota Fiscal</label>
                                <input type="text" class="form-control" id="notaFiscal" placeholder="Número nota fiscal"
                                    formControlName="notaFiscal">
                            </div>
                            <div class="form-group col-3">
                                <label for="notaFiscal">Data Nota Fiscal</label>
                                <input type="text" placeholder="Data da nota fiscal" id="dataNotaFiscal"
                                    formControlName="dataNotaFiscal" class="form-control" bsDatepicker
                                    [bsConfig]="{ isAnimated: true }">
                                <!-- <input type="text" mask="d0/M0/0000" [showMaskTyped]="true" [validation]="true"
                                    class="form-control" id="notaFiscal" placeholder="Número nota fiscal"
                                    formControlName="dataNotaFiscal"> -->
                            </div>
                            <div class="form-group col-3">
                                <label for="pessoaJuridica">Pessoa jurídica</label>
                                <input type="text" class="form-control" id="pessoaJuridica"
                                    formControlName="pessoaJuridica">
                            </div>
                            <div class="form-group col-3">
                                <label for="cnpj">CNPJ</label>
                                <input type="text" class="form-control" mask="00.000.000/0000-00" [validation]="true"
                                    [showMaskTyped]="true" id="cnpj" formControlName="cnpj">
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="form-group col-3">
                                <label for="numero">Número da arma</label>
                                <input type="text" (focusout)="focusOut()" class="form-control" id="numero"
                                    placeholder="Número da arma" formControlName="numero">
                            </div>
                            <div class="form-group col-3" *ngIf="sigmaSinarm == 'sinarm'">
                                <label for="sinarm">Cadastro Sinarm</label>
                                <input type="text" class="form-control" id="sinarm" placeholder="Cadastro Sinarm" mask="0000/000000000-00"
                                    formControlName="sinarm">
                            </div>
                            <div class="form-group col-3 " *ngIf="sigmaSinarm == 'sigma'">
                                <label for="sigma">Cadastro Sigma</label>
                                <input type="text" class="form-control" id="sigma" placeholder="Cadastro Sigma"
                                    formControlName="sigma">
                            </div>
                            <div class="form-group col-3 col-lg-3">
                                <label for="expedidor">Órgão Expedidor</label>
                                <input type="text" class="form-control" id="expedidor" placeholder="Órgão Expedidor"
                                    formControlName="expedidor">
                            </div>
                            <div class="form-group col-3 col-lg-1">
                                <label for="uf">UF</label>
                                <input type="text" class="form-control" id="uf" placeholder="UF" formControlName="uf">
                            </div>
                            <div class="form-group col-3 col-lg-2">
                                <label for="dataEmissao">Data de emissão</label>
                                <input type="text" placeholder="Data da nota fiscal" id="dataEmissao"
                                    formControlName="dataEmissao" class="form-control" bsDatepicker
                                    [bsConfig]="{ isAnimated: true }">
                                <!-- <input type="text" mask="d0/M0/0000" [showMaskTyped]="true" [validation]="true"
                                    class="form-control" id="dataEmissao" placeholder="Número nota fiscal"
                                    formControlName="dataEmissao"> -->
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="form-group col-3">
                                <label for="registroFederal">Registro Federal</label>
                                <input type="text" class="form-control" id="registroFederal"
                                    placeholder="Registro Federal" formControlName="registroFederal">
                            </div>
                            <div class="form-group col-3">
                                <label for="pessoaJuridica">Espécie</label>
                                <input type="text" readonly class="form-control" id="pessoaJuridica"
                                    [value]="modeloSelecionado? modeloSelecionado.especie.nome:''">
                            </div>
                            <div class="form-group col-3">
                                <label for="pessoaJuridica">Marca</label>
                                <input type="text" readonly class="form-control" id="pessoaJuridica"
                                    [value]="modeloSelecionado? modeloSelecionado.fabricante.nome:''">
                            </div>
                            <div class="form-group col-3">
                                <label for="pessoaJuridica">Modelo</label>
                                <input type="text" readonly class="form-control" id="pessoaJuridica"
                                    [value]="modeloSelecionado? modeloSelecionado.nome:''">
                            </div>
                        </div>

                        <hr>

                        <div class="row align-items-end">
                            <div class="form-group col-3 col-lg-2">
                                <label for="calibre">Calibre</label>
                                <select class="form-control" id="calibre" formControlName="calibre">
                                    <option disabled selected>Selecione o calibre</option>
                                    <option *ngFor="let calibre of calibres" [value]="calibre.id">
                                        {{calibre.nome}}</option>
                                </select>
                            </div>
                            <div class="col-1" style="margin-bottom: 16px;">
                                <button type="button" class="btn btn-success align-bottom" data-toggle="modal"
                                    data-target="#calibreModal">+</button>
                            </div>
                            <div class="form-group col-3 col-lg-3">
                                <label for="comprimentoCano">Comp. Cano</label>
                                <input type="text" class="form-control" id="comprimentoCano" placeholder="Comp. Cano"
                                    formControlName="comprimentoCano">
                            </div>
                            <div class="form-group col-4">
                                <label for="pais">País de fabricação</label>
                                <input type="text" class="form-control" id="pais" placeholder="País de fabricação"
                                    formControlName="pais">
                            </div>
                            <div class="form-group col-4 col-lg-2">
                                <label for="acabamento">Acabamento</label>
                                <select class="form-control" id="acabamento" formControlName="acabamento">
                                    <option disabled selected>Selecione o acabamento</option>
                                    <option value="oxidado">Oxidado</option>
                                    <option value="inox">Aço inox</option>
                                    <option value="outros">Outros</option>
                                </select>
                            </div>
                        </div>
                        <hr><br>
                        <div class="row" *ngIf="!armaNav">
                            <button [disabled]="formArma.invalid || salvando" type="submit"
                                class="btn btn-primary col-8 offset-2 col-xl-4 offset-xl-4">{{salvando? 'Salvando
                                dados...':
                                'Salvar'}}</button>
                        </div>
                        <div class="row" *ngIf="armaNav">
                            <button type="button" (click)="updateForm(armaNav)"
                                class="btn btn-warning col-8 offset-2 col-xl-2 offset-xl-3">{{salvando? 'Salvando
                                dados...':
                                'Desfazer edições'}}</button>
                            <button [disabled]="formArma.invalid || salvando" type="submit"
                                class="btn btn-primary col-8 offset-2 col-xl-2 offset-xl-2">{{salvando? 'Salvando
                                dados...':
                                'Salvar'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cadastrar Calibre -->
<div class="modal fade" id="calibreModal" tabindex="-1" role="dialog" aria-labelledby="calibreModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Calibre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-calibres></app-calibres>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="onFecharModalCalibre()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Selecionar Modelo -->
<div class="modal fade" id="modeloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Modelos Cadastrados</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right"
                                            (keyup)="onSearch()" [(ngModel)]="pesquisa" placeholder="Pesquisar">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                                <table class="table table-head-fixed table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Fabricante</th>
                                            <th>Espécie</th>
                                            <th>Nº de canos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [ngClass]="{'active': modeloSelecionado == modelo}"
                                            *ngFor="let modelo of modelosFiltrados" (click)="onSelectModelo(modelo)">
                                            <td>{{modelo.nome}}</td>
                                            <td>{{modelo.fabricante.nome}}</td>
                                            <td>{{modelo.especie.nome}}</td>
                                            <td>{{modelo.numeroCanos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeSelectedModelo()"
                    [disabled]="!modeloSelecionado">Selecionar Modelo</button>
                <button type="button" class="btn btn-success align-bottom" data-dismiss="modal"
                    (click)="goToModelo()">Adicionar novo Modelo</button>
            </div>
        </div>
    </div>
</div>