<div class="row">
  <div class="col" id="sem-modalidade" *ngIf="!modalidade">
    <div class="row">
      <div class="col">
        <h3 class="titulo">Escolha a modalidade de transferência</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('sigmaXsinarm')"
        class="btn btn-danger col">Sigma X Sinarm</button>
      <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('sinarmXsigma')"
        class="btn btn-primary col">Sinarm X Sigma</button>
      <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('sinarmXsinarm')"
        class="btn btn-success col">Sinarm X Sinarm</button>
      <button style="margin-left: 20px;" type="button" (click)="selecionarModalidade('sigmaXsigma')"
        class="btn btn-info col">Sigma X Sigma</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="container" style="padding-top: 30px;" *ngIf="modalidade">
      <div class="row align-items-center">
        <div class="col-1">
          <button type="button" (click)="selecionarModalidade(null)" class="btn btn-danger align-middle">
            <i class="fas fa-long-arrow-alt-left"></i>
          </button>
        </div>
        <div class="col">
          <h3 class="titulo" (click)="consolee()">Transferência {{modalidadeFormatada}}</h3>
          <hr>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" class="form-group" [formGroup]="formTransferencia">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <!-- Linha para selecionar cliente modelo e calibre -->
              <div class="row">
                <!-- Coluna selecionar cliente -->
                <div class="col-xl-5 col-12">
                  <div class="row">
                    <div class="form-group col-8">
                      <input type="text" readonly class="form-control" id="doadorNome" placeholder="Selecione o doador"
                        formControlName="doadorNome">
                    </div>
                    <button type="button" data-toggle="modal" data-target="#doadorModal"
                      class="btn btn-primary col-4">Doador</button>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col-xl-5 col-12">
                  <div class="row">
                    <div class="form-group col-8">
                      <input type="text" readonly class="form-control" id="recebedorNome"
                        placeholder="Selecione o recebedor" formControlName="recebedorNome">
                    </div>
                    <button type="button" data-toggle="modal" data-target="#recebedorModal"
                      class="btn btn-primary col-4">Recebedor</button>
                  </div>
                </div>
                <!-- ADICIONAR ACABAMENTO INPUT -->
                <!-- Coluna Selecionar modelo -->
                <div class="col-xl-5 col-6">
                  <div class="row">
                    <div class="form-group col-6">
                      <!--   <label for="modeloNome" class="col-3 col-form-label">Modelo</label> -->
                      <input type="text" class="form-control" id="armaRegistro" placeholder="Nº de registro da arma"
                        formControlName="armaRegistro">
                    </div>
                    <button type="button" (click)="pesquisaArma()" data-toggle="modal" data-target="#modeloModal"
                      [disabled]="formTransferencia?.controls['armaRegistro'].value.length <= 3 || salvando"
                      class="btn btn-primary col-5">{{salvando?
                      'Carregando...':'Pesquisar'}}</button>
                    <div class="col-1">
                      <button type="button" class="btn btn-success align-bottom" (click)="cadastrarArma()">+</button>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-xl-4 offset-xl-2">
                  <h5>{{arma?' Arma selecionada: '+arma.descricao:'Nenhuma arma selecionada'}}</h5>
                </div>
              </div>
              <!--Fim cliente modelo e calibre -->

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="observacao">Observações</label>
                    <textarea class="form-control" id="observacao" formControlName="observacao" rows="2"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <button [disabled]="formTransferencia.invalid || salvando" type="submit"
                  class="btn btn-primary align-middle col-2 offset-10">
                  Salvar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="doadorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50 " style="margin-bottom: 20px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecionar Doador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Clientes Cadastrados</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                      [(ngModel)]="pesquisa" placeholder="Pesquisar">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                <table class="table table-head-fixed table-hover">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>Data de nascimento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [ngClass]="{'active': clienteSelecionado == cliente}" *ngFor="let cliente of clientesFiltrados"
                      (click)="onSelectCliente(cliente)" (dblclick)="onSelectDoador(cliente)">
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
                      <td>{{cliente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="cancelarModalCliente()">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="cadastrarCliente()">Cadastrar
          Cliente</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!clienteSelecionado">Selecionar
          Cliente</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="recebedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog mw-100 w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Selecionar Recebedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Clientes Cadastrados</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" (keyup)="onSearch()"
                      [(ngModel)]="pesquisa" placeholder="Pesquisar">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                <table class="table table-head-fixed table-hover">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>Data de nascimento</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [ngClass]="{'active': clienteSelecionado == cliente}" *ngFor="let cliente of clientesFiltrados"
                      (click)="onSelectCliente(cliente)" (dblclick)="onSelectRecebedor(cliente)">
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
                      <td>{{cliente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="cancelarModalCliente()">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="cadastrarCliente()">Cadastrar
          Cliente</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!clienteSelecionado">Selecionar
          Cliente</button>
      </div>
    </div>
  </div>
</div>
