<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="titulo">Cadastro de Calibre</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">Cadastrar Calibre</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form-inline" [formGroup]="formCalibre" (ngSubmit)="submitForm()">
                        <div class="form-group mb-2">
                            <label for="nome" class="sr-only">Nome da espécie</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome do calibre"
                                formControlName="nome">
                        </div>
                        <button style="margin-left: 20px;" [disabled]="formCalibre.invalid || salvando" type="submit"
                            class="btn btn-primary mb-2">{{salvando? 'Salvando dados...': calibreSelecionado? 'Alterar': 'Salvar'}}</button>
                        <button *ngIf="calibreSelecionado" style="margin-left: 20px;" [disabled]="salvando"
                            (click)="deletarCalibre()" type="button" class="btn btn-danger mb-2">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Calibres Cadastrados</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'active': calibreSelecionado == calibre}" *ngFor="let calibre of calibres"
                                (click)="onSelectCalibre(calibre)">
                                <td>{{calibre.nome}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>