<div>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" *ngIf="user">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['home']" routerLinkActive="router-link-active" class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Procedimentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/aquisicao-arma']">Aquisição de arma</a>
          <a class="dropdown-item" [routerLink]="['/cadastrar-transferencia']">Transferência de arma</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Consultar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/consulta-aquisicao']">Aquisição de arma</a>
          <a class="dropdown-item" [routerLink]="['/listar-transferencias']">Transferência de arma</a>
          <a class="dropdown-item" [routerLink]="['/consulta-clientes']">Clientes</a>
        </div>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['lista-precadastros']" routerLinkActive="router-link-active" class="nav-link">Pré
          cadastros</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="aniversariantes.length > 0">
      <li class="nav-item">
        <a (click)="goToAniversariantes()" style="cursor: pointer;" class="nav-link" data-widget="control-sidebar"
          data-slide="true" role="button"><i class="fas fa-birthday-cake" style="color: red;"></i></a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" style="cursor: pointer;" class="nav-link" data-widget="control-sidebar" data-slide="true"
          role="button"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4" *ngIf="user">
    <!-- Brand Logo -->
    <a [routerLink]="['']" routerLinkActive="router-link-active" class="brand-link">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/recepcao-c0231.appspot.com/o/logo.jpg?alt=media&token=c2736a66-a3c8-4f28-a02d-91c0eb9678ad"
        alt="Sistema Inventário" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Despachante Bélico</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a [routerLink]="['']" routerLinkActive="router-link-active" class="d-block">
            <p>Ednildo Macena</p>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
              <!-- <li class="nav-item">
                <a [routerLink]="['']" routerLinkActive="router-link-active" class="nav-link">
                  <i class="fas fa-table"></i>
                  &nbsp;<p>Cadastro de Pessoas</p>
                </a>
              </li> -->
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="fas fa-link"></i>
                  <p>
                    Links úteis
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="https://www.tse.jus.br/eleitor/certidoes/certidao-de-crimes-eleitorais" target="blank"
                      class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>JUST. ELEITORAL</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://al.equatorialenergia.com.br/" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Equatorial</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="http://www.saaemarechaldeodoro.com.br/" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>SAEE Marechal</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="http://www.jfal.jus.br/servicos/certidao-negativa" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CERT. JUST. FEDERAL</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="http://www.stm.jus.br/servicos-stm/certidao-negativa" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CERT. JUST. MILITAR</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://www2.tjal.jus.br/esaj/portal.do?servico=810000" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CERT. JUST. ESTADUAL</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://servicos.dpf.gov.br/sinarm-internet/faces/publico/incluirReqAquisicaoArmaFogo/incluirReqAquisicaoArmaFogo.seam?_ga=2.90593050.1818158025.1612964630-620966464.1593690977"
                      target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>REQUERIMENTO PF</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://servicos.dpf.gov.br/sinarm-internet/faces/publico/controlarRequerimento/controlarRequerimento.seam"
                      target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>CONSULTA PROCESSO PF</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://trello.com/b/sSTCPqEV/sistema-despabel" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>TRELLO</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="https://armasmunicoes.com.br/store/" target="blank" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Armas & munições</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="fas fa-table"></i>
                  <p>
                    Clientes
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/cadastro-cliente']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Cadastro</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/consulta-clientes']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Consulta</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="fas fa-table"></i>
                  <p>
                    Armas
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/cadastrar-arma']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Cadastro</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/consulta-armas']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Consulta</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                  <i class="fas fa-table"></i>
                  <p>
                    Tabelas
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/especies']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Espécies de armas</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/calibres']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Calibres</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/fabricantes']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fabricantes</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/modelos']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Modelos</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/fornecedores']" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Fornecedores</p>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Active Page</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inactive Page</p>
                </a>
              </li> -->
            </ul>
          </li>
          <!--   -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <div class="content-wrapper">
    <section class="content">
      <router-outlet></router-outlet>
      <!-- <p (click)="logout()">home works! {{nome}}</p> -->
    </section>
  </div>
</div>

<!-- <div class="container-fluid align-self-center" style="margin-top:40px" *ngIf="!user">
  <router-outlet></router-outlet>
</div> -->