<br>
<div class="row">
  <div class="col-12">
    <!-- Custom Tabs -->
    <div class="card card-localidade">
      <div class="card-header d-flex p-0">
        <h3 (click)="consolee()" class="card-title p-3">Pré cadastro
        </h3>
        <!--   <ul class="nav nav-pills ml-auto p-2" *ngIf="clienteNav">
          <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Cadastro
              Cliente</a></li>
          <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Arquivos</a>
          </li>
        </ul> -->

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <form class="form" [formGroup]="formPreCadastro" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="form-group col-12 col-lg-4">
                  <label for="nome" class="obrigatorio">Nome *</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                </div>
                <!-- <div class="form-group col-6 col-lg-4">
                  <label for="cr">Número de CR</label>
                  <input type="text" class="form-control" id="cr" placeholder="Número de CR" formControlName="cr">
                </div> -->
                <!--                             <div class="form-group col-6 col-lg-4">
                                    <label for="dataNascimento" >Data de nascimento</label>
                                    <input type="text" placeholder="Data de Nascimento" formControlName="dataNascimento"
                                        class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                                </div> -->
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label for="atividadeApostilada">Atividade apostilada</label>
                                    <select class="form-control" id="atividadeApostilada"
                                        formControlName="atividadeApostilada">
                                        <option disabled selected value="">Atividade Apostilada</option>
                                        <option value="nao_aplica">Não se aplica</option>
                                        <option value="atirador">Atirador</option>
                                        <option value="atirador_cacador">Atirador + Caçador</option>
                                        <option value="atirador_cacador_colecionador">Atirador + Caçador + Colecionador
                                        </option>
                                    </select>
                                </div> -->
                <div class="col-12 col-md-4  align-self-center mb-2" style="padding-top: 5px;">
                  <div class="row">
                    <div class="col col-md-2 align-self-center">
                      Sexo:
                    </div>
                    <div class="col-8 align-self-center">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radioMasculino" formControlName="sexo"
                          value="masculino">
                        <label class="form-check-label" for="radioMasculino">Masculino</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radioFeminino" formControlName="sexo"
                          value="feminino">
                        <label class="form-check-label" for="radioFeminino">Feminino</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <label for="dataNascimento" class="obrigatorio">Data de nascimento *</label>
                  <input type="text" placeholder="Data de nascimento" id="dataNascimento"
                    formControlName="dataNascimento" class="form-control" bsDatepicker
                    [bsConfig]="{ isAnimated: true }">
                </div>
                <div class="form-group col-9 col-md-6 col-lg-4">
                  <label for="naturalidade" class="obrigatorio">Naturalidade</label>
                  <input type="text" class="form-control" id="naturalidade" placeholder="Naturalidade"
                    formControlName="naturalidade">
                </div>
                <div class="form-group col-3 col-lg-1">
                  <label for="uf" class="obrigatorio">UF</label>
                  <input type="text" class="form-control" id="uf" placeholder="UF" formControlName="uf">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-1">
                  <label for="estadoCivil" class="obrigatorio">Estado Civil</label>
                  <select class="form-control" formControlName="estadoCivil" id="estadoCivil">
                    <option disabled selected value="">Estado Civil</option>
                    <option value="casado">Casado</option>
                    <option value="solteiro">Solteiro</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viuvo">Viúvo</option>
                    <option value="uniao">União Estável</option>
                  </select>

                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-4 mt-1">
                  <label for="cpf" class="obrigatorio">CPF *</label>
                  <input type="text" (focusout)="checaCPF(false)" mask="000.000.000-00" [validation]="true"
                    [showMaskTyped]="true" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="identidade" class="obrigatorio">Identidade *</label>
                  <input type="text" class="form-control" id="identidade" placeholder="Identidade"
                    formControlName="identidade">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-2">
                  <label for="orgaoIdentidade" class="obrigatorio">Órgão expedidor *</label>
                  <input type="text" class="form-control" id="orgaoIdentidade" placeholder="Órgão expedidor"
                    formControlName="orgaoIdentidade">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="expedicao">Data de Expedição</label>
                  <input type="text" placeholder="Data de Expedição" id="expedicao" formControlName="expedicao"
                    class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                </div>
                <!--  <div class="form-group col-sm-12 col-md-6 col-lg-4">
                                    <label for="orgaoIdentidade" class="obrigatorio">Órgão expedidor *</label>
                                    <input type="text" class="form-control" id="orgaoIdentidade"
                                        placeholder="Órgão expedidor" formControlName="orgaoIdentidade">
                                </div> -->
              </div>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="nomeMae">Nome da Mãe</label>
                  <input type="text" class="form-control" id="nomeMae" placeholder="Nome da Mãe"
                    formControlName="nomeMae">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-3">
                  <label for="nomePai">Nome da Pai</label>
                  <input type="text" class="form-control" id="nomePai" placeholder="Nome da Pai"
                    formControlName="nomePai">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="modalidade" class="obrigatorio">Modalidade *</label>
                  <select class="form-control" formControlName="modalidade" id="modalidade">
                    <option disabled selected value="">Modalidade</option>
                    <option *ngFor="let modalidade of modalidades" [value]="modalidade.id">
                      {{modalidade.nome}}
                    </option>
                  </select>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                  <label for="profissao">Profissão</label>
                  <input type="text" class="form-control" id="profissao" placeholder="Profissão"
                    formControlName="profissao">
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label for="profissao">Profissão</label>
                                    <select class="form-control" formControlName="profissao" id="profissao">
                                        <option disabled selected value="">Profissão</option>
                                        <option *ngFor="let profissao of profissoes" [value]="profissao.id">
                                            {{profissao.nome}}
                                        </option>
                                    </select>
                                </div> -->
              </div>
              <div class="row"
                *ngIf="formPreCadastro.value['modalidade'] == 'pm' || formPreCadastro.value['modalidade'] == 'bm'">
                <div class="col-sm-12 col-md-6 col-lg">
                  <label for="aposentado">Aposentado?</label>
                  <select class="form-control" id="aposentado" formControlName="aposentado">
                    <option disabled selected value="">Aposentando?</option>
                    <option value="não">Não</option>
                    <option value="-5">Sim, a menos de 10 anos</option>
                    <option value="+5">Sim, a mais de 10 anos</option>
                  </select>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formPreCadastro.value['modalidade'] == 'pm' || formPreCadastro.value['modalidade'] == 'bm'">
                  <label for="ordem">Número de ordem</label>
                  <input type="text" class="form-control" id="ordem" placeholder="Número de ordem"
                    formControlName="ordem">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formPreCadastro.value['modalidade'] == 'pm' || formPreCadastro.value['modalidade'] == 'bm'">
                  <label for="posto">Posto</label>
                  <input type="text" class="form-control" id="posto" placeholder="Posto" formControlName="posto">
                </div>
              </div>
              <div class="row"
                *ngIf="formPreCadastro.value['modalidade'] == 'bm' || formPreCadastro.value['modalidade'] == 'pm' ">
                <div class="form-group col-sm-12 col-md-6 col-lg"
                  *ngIf="formPreCadastro.value['modalidade'] == 'bm' || formPreCadastro.value['modalidade'] == 'pm' ">
                  <label for="matricula">Matrícula</label>
                  <input type="text" class="form-control" id="matricula" placeholder="Matrícula"
                    formControlName="matricula">
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg" *ngIf="formPreCadastro.value['modalidade'] == 'bm'">
                  <label for="obm">OBM</label>
                  <input type="text" class="form-control" id="obm" placeholder="OBM" formControlName="obm">
                </div>
              </div>
              <hr>
              <div>
                <div class="row">
                  <div class="col">
                    <p>Endereço</p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-2">
                    <label for="cep">CEP</label>
                    <input type="text" mask="00000-000" [validation]="true" (focusout)="buscaCEP()"
                      [showMaskTyped]="true" class="form-control" id="cep" placeholder="CEP" formControlName="cep">
                  </div>
                  <div class="form-group col-12 col-sm-10 col-md-6 col-lg-4 col-xl-2">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" placeholder="Logradouro"
                      formControlName="logradouro">
                  </div>
                  <div class="form-group col-sm-2 col-12">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Complemento"
                      formControlName="complemento">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-2">
                    <label for="cidade">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade" formControlName="cidade">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-1">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="Estado" formControlName="estado">
                  </div>
                </div>
              </div>
              <div *ngIf="formPreCadastro.value['modalidade'] == 'cac'">
                <div class="row">
                  <div class="col">
                    <p>Endereço 2</p>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12 col-md-3 col-lg-2 col-xl-2">
                    <label for="cep2">CEP</label>
                    <input type="text" mask="00000-000" [validation]="true" [showMaskTyped]="true" class="form-control"
                      id="cep2" placeholder="CEP" formControlName="cep2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="logradouro2">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro2" placeholder="Logradouro"
                      formControlName="logradouro2">
                  </div>
                  <div class="form-group col-sm-1">
                    <label for="numero2">Número</label>
                    <input type="text" class="form-control" id="numero2" placeholder="Número" formControlName="numero2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-4 col-xl-2">
                    <label for="complemento2">Complemento</label>
                    <input type="text" class="form-control" id="complemento2" placeholder="Complemento"
                      formControlName="complemento2">
                  </div>
                  <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <label for="bairro2">Bairro</label>
                    <input type="text" class="form-control" id="bairro2" placeholder="Bairro" formControlName="bairro2">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-2">
                    <label for="cidade2">Cidade</label>
                    <input type="text" class="form-control" id="cidade2" placeholder="Cidade" formControlName="cidade2">
                  </div>
                  <div class="form-group col-sm-12 col-md-4 col-lg-3 col-xl-1">
                    <label for="estado2">Estado</label>
                    <input type="text" class="form-control" id="estado2" placeholder="Estado" formControlName="estado2">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="form-group col-sm-12 col-md-6">
                  <label for="telefone" class="obrigatorio">Telefone
                    *</label>
                  <input type="text" [mask]="mascaraTelefone" class="form-control" id="telefone" placeholder="Telefone"
                    formControlName="telefone">
                </div>
                <div class="form-group col-sm-12 col-md-6">
                  <label for="email" class="obrigatorio">Email * </label>
                  <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
              </div>

            </form>
          </div>

        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
      <div class="card-footer">
        <div class="row">

          <button type="button" [disabled]="formPreCadastro.invalid || salvando " (click)="submitForm()"
            class="btn btn-primary col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">{{salvando? 'Salvando
            dados':preCadastro ? 'Confirmar Pré
            cadastro': 'Salvar Dados'}}</button>

        </div>
      </div>
    </div>
    <!-- ./card -->
  </div>
  <!-- /.col -->
</div>
