<div class="container-fluid">
  <div class="row">
    <div class="col">
      <br>
      <h3 class="titulo">Lista de Transferências</h3>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Transferências Cadastradas</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input [(ngModel)]="pesquisa" (keyup)="pesquisar()" type="text" name="table_search"
                class="form-control float-right" placeholder="Pesquisar">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->

        <div class="card-body table-responsive p-0 container-fluid">
          <table class="table table-head-fixed table-hover">
            <thead>
              <tr>
                <th style="cursor: pointer;" (click)="onSort('doador')">Nome Doador <i *ngIf="filtro == 'doador'"
                    [ngClass]="{'fa-arrow-up': asc, 'fa-arrow-down': !asc}" class="fas" style="font-size: 10px;"></i>
                </th>
                <th style="cursor: pointer;" (click)="onSort('recebedor')">Nome
                  Recebedor <i *ngIf="filtro == 'recebedor'" [ngClass]="{'fa-arrow-up': asc, 'fa-arrow-down': !asc}"
                    class="fas" style="font-size: 10px;"></i> </th>
                <th style="cursor: pointer;" (click)="onSort('arma')">Arma solicitada <i *ngIf="filtro == 'arma'"
                    [ngClass]="{'fa-arrow-up': asc,'fa-arrow-down': !asc}" class="fas" style="font-size: 10px;"></i>
                </th>
                <th style="cursor: pointer;" (click)="onSort('data')">Data de cadastro <i *ngIf="filtro == 'data'"
                    [ngClass]="{'fa-arrow-up': asc,'fa-arrow-down': !asc}" class="fas" style="font-size: 10px;"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer;" (click)="irParaTransferencia(transferencia)"
                *ngFor="let transferencia of transferenciasFiltradas">
                <td>{{transferencia.doador.nome}}</td>
                <td>{{transferencia.recebedor.nome}}</td>
                <td>{{transferencia.arma.modelo.nome}} - {{transferencia.arma.calibre.nome}}</td>
                <td>{{transferencia.data | date:'dd/MM/yyyy'}}</td>
                <!--  <td *ngIf="!transferencia.ultimaPendencia"></td>
                                <td *ngIf="transferencia.ultimaPendencia">{{transferencia.ultimaPendencia.descricao}} -
                                    {{transferencia.ultimaPendencia.data |
                                    date:'dd/MM/yyyy'}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
