<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <h3 class="titulo">Lista de Aquisições</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Filtrar Pendências</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <!--  <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button> -->
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="display: block;">
                    <div class="d-md-flex">
                        <div class="p-1 flex-fill" style="overflow: hidden">
                            <div class="row" *ngIf="!aquisicoes || aquisicoes.length == 0">
                                <div class="col">
                                    <h5>Carregando aquisições...</h5>
                                </div>
                            </div>
                            <div class="row" *ngIf="aquisicoes.length > 0">
                                <div class="col-6 col-md-6 col-lg-3" *ngFor="let pendencia of pendencias"
                                    style="margin-top: 5px; margin-bottom: 5px;">
                                    <button type="button"
                                        [ngClass]="{'btn-warning': getPendenciaSelecionada(pendencia)}"
                                        (click)="onFiltraPendencia(pendencia)" class="btn btn-primary"
                                        style="font-size: smaller;">{{pendencia.descricao}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Aquisições Cadastradas</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input [(ngModel)]="pesquisa" (keyup)="pesquisar()" type="text" name="table_search"
                                class="form-control float-right" placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->

                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;" (click)="onSort('nome')">Nome Cliente <i *ngIf="filtroNome"
                                        [ngClass]="{'fa-arrow-up': asc, 'fa-arrow-down': !asc}" class="fas"
                                        style="font-size: 10px;"></i> </th>
                                <th style="cursor: pointer;" (click)="onSort('arma')">Arma solicitada <i
                                        *ngIf="filtroArma" [ngClass]="{'fa-arrow-up': asc,'fa-arrow-down': !asc}"
                                        class="fas" style="font-size: 10px;"></i></th>
                                <th style="cursor: pointer;" (click)="onSort('data')">Data de abertura<i
                                        *ngIf="filtroData" [ngClass]="{'fa-arrow-up': asc,'fa-arrow-down': !asc}"
                                        class="fas" style="font-size: 10px;"></i>
                                </th>
                                <th style="cursor: pointer;" (click)="onSort('atividade')">Última atividade <i
                                        *ngIf="filtroAtividade" [ngClass]="{'fa-arrow-up': asc,'fa-arrow-down': !asc}"
                                        class="fas" style="font-size: 10px;"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer;" (click)="irParaAquisicao(aquisicao)"
                                *ngFor="let aquisicao of aquisicoesFiltradas">
                                <td>{{aquisicao.cliente.nome}}</td>
                                <td>{{aquisicao.modelo.nome}} - {{aquisicao.calibre.nome}}</td>
                                <td *ngIf="aquisicao.data">{{aquisicao.data | date:'dd/MM/yyyy'}}</td>
                                <td *ngIf="!aquisicao.ultimaPendencia"></td>
                                <td *ngIf="aquisicao.ultimaPendencia">{{aquisicao.ultimaPendencia.descricao}} -
                                    {{aquisicao.ultimaPendencia.data |
                                    date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
