<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="titulo">Cadastro de Fornecedor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" (click)="consolee()">Cadastrar Fornecedor</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form" [formGroup]="formFornecedor" (ngSubmit)="submitForm()">
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="nome">Nome do fornecedor</label>
                                <input type="text" class="form-control" id="nome" placeholder="Nome do fornecedor"
                                    formControlName="nome">
                            </div>
                            <div class="form-group col-3">
                                <label for="cnpj">CNPJ do fornecedor</label>
                                <input type="text" mask="00.000.000/0000-00" class="form-control" id="cnpj"
                                    formControlName="cnpj" [validation]="true" [showMaskTyped]="true"
                                    placeholder="CNPJ">
                            </div>
                            <div class="form-group col-3">
                                <label for="cr">Número de CR</label>
                                <input type="text" class="form-control" id="cr" placeholder="Número de CR"
                                    formControlName="cr">
                            </div>
                            <div class="form-group col-3">
                                <label for="cep">CEP</label>
                                <input type="text" mask="00.000-000" class="form-control"
                                    [validation]="true" [showMaskTyped]="true" id="cep" placeholder="CEP"
                                    formControlName="cep">
                            </div>
                            <div class="form-group col-3">
                                <label for="endereco">Endereço</label>
                                <input type="text" class="form-control" id="endereco" placeholder="Endereço"
                                    formControlName="endereco">
                            </div>
                            <div class="form-group col-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" id="telefone"
                                    mask="(00)0000-0000||(00)00000-0000" class="form-control" [validation]="true"
                                    [showMaskTyped]="true" placeholder="Telefone" formControlName="telefone">
                            </div>
                        </div>
                        <div class="row">
                            <button [disabled]="formFornecedor.invalid || salvando" type="submit"
                                class="btn btn-primary col col-xl-4 offset-xl-4">{{salvando? 'Salvando dados...':
                                fornecedorSelecionado?
                                'Alterar': 'Salvar'}}</button>
                            <button *ngIf="fornecedorSelecionado" style="margin-left: 20px;" [disabled]="salvando"
                                (click)="deletarFornecedor()" type="button" class="btn btn-danger mb-2">Deletar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Fornecedores Cadastrados</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                placeholder="Pesquisar">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 container-fluid" style="max-height: 60vh;">
                    <table class="table table-head-fixed table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CNPJ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [ngClass]="{'active': fornecedoreSelecionado == fornecedor}"
                                *ngFor="let fornecedor of fornecedores" (click)="onSelectFornecedor(fornecedor)">
                                <td>{{fornecedor.nome}}</td>
                                <td>{{fornecedor.cnpj | mask: '00.000.000/0000-00'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>